<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Brahim AIT HADI</title>
  <link rel="stylesheet" href="static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="./favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/images/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Brahim.</h1>
      <h2>a <span class="pro">pro</span>grammer.</h2>
    </div>
    <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud">
    <img class="mountain" src="static/images/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/images/brahim.JPG" alt="brahim-profile-img">
      <h2>Hello.</h2>
      <p class="intro">I am a Web Developer.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>web Development</h3>
        <p>I'm a passionate police officer with a knack for problem-solving and attention to detail. Alongside my law enforcement career, I've also delved into the world of web development. As a junior web developer proficient in Python (Flask), HTML, and CSS, I've discovered a new avenue for creativity and innovation. With a background in English studies and specialized training in business management, I bring a unique blend of skills to the table. Whether it's maintaining law and order or crafting elegant code, I thrive on challenges and am always eager to learn and grow. Welcome to my portfolio, where you'll find a showcase of my work and projects!

        </p>

      </div>
      <div class="skill-row">
        

        <h3>Embracing the Journey: A Tribute to Diligence and Dedication</h3>
        <p>"Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do." - Pele</p>

      </div>
    </div>
    <img class="chilli-img" src="static/images/chillies.jpg" alt="chillies-img">
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love nature as much as I do.</h3>
      <p class="contact-message">I have always been deeply passionate about nature and the great outdoors. From the peaceful tranquility of a forest to the awe-inspiring beauty of a mountain peak, nature has always been my sanctuary. Whether it's hiking through lush green forests or simply taking a moment to admire a colorful sunset, I find immense joy and inspiration in the natural world. Through my work, I aim to capture and celebrate the breathtaking beauty of nature, sharing its wonders with others and inspiring a deeper appreciation for our planet's natural treasures.!</p>
      <a class="btn" href="kuikfelbrahim@gmail.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.youtube.com/channel/UC-4-zsxAPhkL524L6ZLjzJw">youtube</a>
    <p class="copyright">© {{c_year}} Brahim AIT HADI.</p>
  </div>
</body>

</html>
